@charset "UTF-8";

body {
    background-color:#4cf570 ;
    font-family:"M PLUS 1", 'Noto Sans JP', sans-serif;
    font-size: 14px;
    width: 375px;
    margin: 0 auto;
}
section {
    border : 4px double #000;
}
h1 {
    font-family :"DotGothic16", 'Noto Sans JP', sans-serif; ;
    font-size:18px;
    border: 3px solid #ffffff;
    border-radius: 20px;
    /* paddingは枠内の文字の位置を示す。 */
    padding: 6px 0;
    margin: 20px auto;

    text-align: center;
}
h2 {
    font-size: 14px;
    border: 2px solid #ffffff;
    border-radius: 20px;
    /* paddingは枠内の文字の位置を示す。 */
    padding: 6px 0;
    margin: 20px auto;

    text-align: center;
}
h3 {
    font-size: 12px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    /* paddingは枠内の文字の位置を示す。 */
    padding: 6px 0;
    margin: 20px auto;
 
    text-align: center;
}
p,ul {
    text-align: center;
    margin-bottom: 20px;
}

a {
    background-color: #f5f5dc;
    display: block;
    padding: 20px 0;
    border-radius: 4px;
    color: #000;
    font-weight: bold;
}
ul {

    margin: 0 auto;
}
li {
    margin-bottom: 20px;
}

.wIcon {
    width:15vw;
    height:15vw;
        border-radius: 50%;
}

@media screen and (min-width:768px){

    body {
        width : 60vw;
        margin:0 auto;
    }
    .createArea {
        display:flex;
    }
    .create {
        width : 30vw;
    }
    .grow {
        width:30vw;
    }


}